extends base.pug


block content

  if errorMessage
        h1=errorMessage 
  form(method="POST" , enctype="multipart/form-data")
    lable(for="video") Video File
    input(type="file", name="video" , accept="video/*" , id="video")
    input(placeholder="Title", required, type="text", name="title")
    input(placeholder="Description", required, type="text", name="description")
    input(
      placeholder="Hashtags, seperated by comma",
      required,
      type="text",
      name="hashtags"
    )
    input(type="submit", value="Upload Video")
